
.menu-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
  color: black;
  transition: color 0.2s;
  
}

.menu-image {
    width: 20px;
    height: 20px;
    padding-right: 15px;
}

.menu-item-lower {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px;
    color: gray;
    transition: color 0.2s;
    font-weight: 150;
    font-size: .9em;
  }

.bm-item:hover,
.bm-item-lower:hover{
filter: invert(9%) sepia(87%) saturate(7491%) hue-rotate(6deg) brightness(110%) contrast(118%);
}


.menu-item-button:hover {
    color: white;
    filter: none;
    background: #DA250E;
}

.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 20px;
  left: 36px;
  top: 15px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

// .bm-morph-shape {
//   fill: #373a47;
// }

// .bm-item-list {
//   color: #b8b7ad;
// }

// .bm-overlay {
//   background: rgba(0, 0, 0, 0.3);
// }

.menu-item-button {
    background: red;
    color: white;
    font-weight: 700;
    font-size: .8em;
    border: none;
    width: 90%;
    height: 3em;
    border-radius: 7px;
}

.seperator-line{
    border-bottom: 1px solid lightgray;
}