.navbar-div {
  background-color: white;
  height: 6%;
  font-family: "Montserrat", sans-serif;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 1%;
  font-size: 10px;
  height: 100%;
}

.nav-sign-up {
  // border: 1px solid orange;
  color: blue;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-logo-div {
  width: 100%;
  // border: 1px solid red;
  justify-content: center;
  display: flex;
  align-items: center;
}

.nav-logo-image {
  width: 11vw;
  height: 4.5%;
  position: absolute;
  left: 45%;
  right: 55%;
}

.nav-sign-in-words {
  color: blue;
  text-decoration: none;
}

.nav-signup-button {
  font-family: "Montserrat", sans-serif;

  background-color: blue;
  font-weight: 700;
  color: white;
  width: 6vw;
  height: 5vh;
  border-radius: 20px;
  font-size: 14px;
}
