.navbar-div {
  border-bottom: 1px solid gray;
  background-color: white;
  height: 3.5em;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 0.5em;
}

.nav-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 1%;
  font-size: 10px;
  height: 100%;
}
.nav-logo-div {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.nav-sign-up {
  // border: 1px solid orange;
  color: #00b6ff;
  // width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-logo-div {
  width: 30%;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo-image {
  width: 11vw;
}
.nav-sign-in-words {
  color: #00b6ff;
  text-decoration: none;
}
.nav-signup-button {
  background-color: #00b6ff;
  font-weight: 700;
  color: white;
  // width: 6vw;
  height: 80%;
  border-radius: 20px;
  font-size: 14px;
}

.shopping-cart-image {
  background: #00b6ff;
  border-radius: 4px;
  width: 90px;
  height: 80%;
  justify-content: center;
}
.nav-signup-button {
  font-family: "Montserrat", sans-serif;
  background-color: #00b6ff;
  font-weight: 700;
  color: white;
  cursor: pointer;
  // width: 6vw;
  // height: 5vh;
  border-radius: 20px;
  font-size: 14px;
}

// .shopping-cart-outer { moved custom image into props of <Menu />
//   position: absolute;
//   right: 2%;
//   top: 15%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #00b6ff;
//   border-radius: 4px;
//   width: 80px;
//   padding-right: 100px;
//   padding: 5px;
// }

// .shopping-cart-inner {
//   filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(177deg)
//     brightness(107%) contrast(101%);
// }

.nav-address {
  position: absolute;
  left: 8%;
  top: 0%;
}
