.food-item-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 200px;
}
.food-item {
  display: flex;
  flex-direction: column;
  width: 35vw;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 40px;
}
.addToCart {
  width: 100px;
}

// signup:button:first-child
