.google-places-autocomplete__input {
  width: calc(50% - 20px);
  margin-left: 10%;
  width: 25vw;
  height: 3vh;
  background-color: white;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

.google-places-autocomplete__suggestions-container {
  width: calc(25% - 20px);
}

.places-search-bar {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  border: 1px solid red;
}
