.login {
  background: #FAFAFA;
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 48px);

}

.login-card {
    text-align: center;
    background: #FFFFFF;
    margin: auto;
    height: 40vh;
}

.login-h2 {
font-size: .8em;
color: #808080;
font-weight: 300;
}

.login-button{
    border: none;
    color: #00b6ff;
}

.profile-pic {
  height: 300px;
  width: 300px;
}