.restcont {
  display: flex;
  overflow-x: scroll;

  justify-content: space-between;
  ul {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-left: 17%;
    margin-right: 8%;
  }
  li {
    list-style: none;
    margin: 1%;
    &:hover {
      color: red;
    }
  }
}

article {
  outline: green;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

.filter {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  width: 100%;
  border: gray;
  li {
    border: gray solid 1px;
    padding: 10px;
    border-radius: 30px;
    height: 2vh;
    width: 8vw;
    list-style: none;
    text-align: center;
    margin-bottom: 2%;
    padding-bottom: 1.8%;
  }
}

// .filter-section {
//   border: 1px solid red;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.promo {
  display: flex;
  height: 20vh;
  width: 100%;
  padding: 14px;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  background: #a5e5ff;
}

.featured {
  display: flex;
  .top {
    display: flex;
    align-items: baseline;
  }
  .bottom {
    display: flex;
    align-items: baseline;
  }
}
